html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/searchbar.css')
    link(rel='stylesheet', href='/stylesheets/item.css')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#') Price Hunter
        div
          ul.nav.navbar-nav
            li.active
              a(href='Shop') Search
            li
              a(href='UserInfo') Profile
            li
              a(href='#') Logout
    div.container
      div.searchbar-container
        input#searchInput.searchinput(type='text', name='searchInput', placeholder='search')
        input#searchButton.searchbutton(type='button', value='search')
      div#result-container        
    script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(type='text/javascript' src='/javascripts/client.js')
